.btn{
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        font-size: $default-font-size;
        position: relative;
        /* prevent selection */
        -webkit-user-select: none; 
        -moz-user-select: none;   
        -ms-user-select: none;  
        user-select: none;

         //Change for the <button> element
         border: none;
         cursor: pointer;
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &::after{
            opacity: 0;
            transform: scale(1.5);
        }
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 2rem rgba($color-black,.2);
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        border-radius: 5rem;
        z-index: -1;
        transition: all 0.4s;
    }
    
    &--animated{
        animation: moveInBottom .5s ease-in-out  .75s;
        animation-fill-mode: backwards;
    }
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn {
    @include respond(phone) {
        padding: 1.5rem 4rem;
        font-size: 1.6rem;
    }
}