.popup {
    // ...existing code...

    &__content {
        // ...existing code...
        
        @include respond(tab-port) {
            width: 100%;
            padding: 5rem;
        }
        
        @include respond(phone) {
            padding: 3rem;
        }
    }

    &__left {
        @include respond(tab-port) {
            display: none;
        }
    }

    &__right {
        @include respond(tab-port) {
            width: 100%;
        }
    }
}