.u-center-text{
    text-align: center;
}
.u-margin-bottom-big{margin-bottom: 8rem;}
.u-margin-bottom-big {
    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}
.u-margin-bottom-medium{margin-bottom: 4rem;}
.u-margin-bottom-medium {
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-small{margin-bottom: 1.5rem;}
.u-margin-top-big {
    @include respond(tab-port) {
        margin-top: 5rem !important;
    }
}
.u-margin-top-huge {
    @include respond(tab-port) {
        margin-top: 7rem !important;
    }
}